.lego {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 1fr 2fr;
  gap: 1.25rem;
  height: 100vh;

  grid-template-areas:
    "h1 h1 h1 h2"
    "h3 h3 h4 h4"
    "h5 h6 h6 h6";
}

.h1 { grid-area: h1; }
.h2 { grid-area: h2; }
.h3 { grid-area: h3; }
.h4 { grid-area: h4; }
.h5 { grid-area: h5; }
.h6 { grid-area: h6; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  min-height: 0;
  overflow: auto;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   
}




@media (max-width: 600px) {
  .lego {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "h1"
      "h4"
      "h2"
      "h3"
      "h6"
      "h5";
    height: auto;
  }
}


